* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap");

.signup-container {
  padding: 47px;
  min-height: 100vh;
  display: flex;
}

.signin-container {
  padding: 47px;
  height: 100vh;
  display: flex;
}

#signup-left {
  min-height: 100%;
  width: 50%;
  overflow: hidden;
}

#signin-left {
  min-height: 100%;
  width: 50%;
  overflow: hidden;
}

.signup-image {
  width: 100%;
  height: 100%;
}

#signup-right {
  width: 50%;
  height: 100%;
  padding: 0 94px 0 114px;
}

#signin-right {
  width: 50%;
  height: 100%;
  padding: 0 94px 0 114px;
}

.password-eye:hover{
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  height: 132px;
  width: 132px;
}

#signup-paragraph {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

.signup-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c6c5c5;
  padding-block: 16px;
  padding-left: 71px;
  /* margin-bottom: 23px; */
  font-size: 15px;
}
.input-icon-wrapper {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  left: 22px;
}

.input-icon-wrapper2{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  right: 16px;
  top: 0;
}

.signup-input:focus {
  outline: none;
}

.agreement {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 4px;
  margin-top: 16px;
  margin-bottom: 5px;
}

#agreement-paragraph {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;  
  color: #6c6c6c;
}

.signin-option {
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  text-align: center;
  /* margin-block: 3px; */
  color: #6c6c6c;
}

.signin-option a {
  text-decoration: none;
  color: #0a55c6;
}

.create-account-button {
  width: 100%;
  background-color: #ff1212;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-family: Inter;
  padding-block: 13px;
  margin-top: 10px;
  margin-bottom: 26px;
}

.input-field {
  position: relative;
  margin-bottom: 40px;
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 7px;
}

.signup-input::placeholder {
  font-family: Inter;
  /* font-size: 7pt; */
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #6c6c6c;
}

.input-icon-eye {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.checkbox {
  height: 30px;
  width: 30px;
  background-color: #6c6c6c;
  margin-right: 8px;
}

.navigation-wrapper{
  padding: 7px 41px 8px 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-right{
  display: flex;
  align-items: center;
}

.navigation-logo-wrapper{
  width: 64px;
  height: 64px;
}

.navigation-logo-wrapper img{
  width: 100%;
  height: 100%;
}

.search-wrapper{
  /* padding: 0 193px 0 53px;
  margin-right: 150px; */
  display: flex;
  align-items: center;
}

.search-wrapper input{
  width: 100%;
  font-family: Inter;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
padding-block: 7px;
border-radius: 50px;
box-shadow: 0px 0px 4px #C6C5C5;
border-style: none;
padding-left: 31px;
}

.search-wrapper input:focus{
  outline: none;
}

.search-image-wrapper{
  width: 15px;
  height: 15px;
  position: relative;
  left: 25px;
  display: flex;
  align-items: center;
}

.search-image{
  height: 100%;
  width: 100%;
}


.signBtn{
padding: 6px 7px 6px 10px;
font-family: Inter;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #000000;
background-color: white;
border-radius: 2px;
border: 1px solid #000000;
cursor: pointer;
}

.signBtn:hover{
  background-color: #6C6C6C;
  color: white;
  /* border: none; */
}

.navigation-wrapper ul {
  display: flex;
  list-style: none;
}

.navigation-wrapper ul li{
  padding-inline: 7px;
}

.navigation-buttons-wrapper{
  margin-left: 3px;
  display: flex;
  column-gap: 19px;
}

.navigation-wrapper li a{
  text-decoration: none;
  font-family: Inter;
font-size: 15px;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #000000;
}

.home-image-wrapper{
  background-color: brown;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 550px;
}

.home-image-wrapper img{
  width: 108%;
  height: 650px;
  position: relative;
  bottom: 30px;
}
