* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap");

.signup-container {
  padding: 47px;
  min-height: 100vh;
  display: flex;
}

.signin-container {
  padding: 47px;
  height: 100vh;
  display: flex;
}

#signup-left {
  min-height: 100%;
  width: 50%;
  overflow: hidden;
}

#signin-left {
  min-height: 100%;
  width: 50%;
  overflow: hidden;
}

.signup-image {
  width: 100%;
  height: 100%;
}

#signup-right {
  width: 50%;
  height: 100%;
  padding: 0 94px 0 114px;
}

#signin-right {
  width: 50%;
  height: 100%;
  padding: 0 94px 0 114px;
}

.password-eye:hover{
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  height: 132px;
  width: 132px;
}

#signup-paragraph {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

.signup-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c6c5c5;
  padding-block: 16px;
  padding-left: 71px;
  /* margin-bottom: 23px; */
  font-size: 15px;
}
.input-icon-wrapper {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  left: 22px;
}

.input-icon-wrapper2{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  right: 16px;
  top: 0;
}

.signup-input:focus {
  outline: none;
}

.agreement {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 4px;
  margin-top: 16px;
  margin-bottom: 5px;
}

#agreement-paragraph {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;  
  color: #6c6c6c;
}

.signin-option {
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  text-align: center;
  /* margin-block: 3px; */
  color: #6c6c6c;
}

.signin-option a {
  text-decoration: none;
  color: #0a55c6;
}

.create-account-button {
  width: 100%;
  background-color: #ff1212;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-family: Inter;
  padding-block: 13px;
  margin-top: 10px;
  margin-bottom: 26px;
}

.input-field {
  position: relative;
  margin-bottom: 40px;
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 7px;
}

.signup-input::placeholder {
  font-family: Inter;
  /* font-size: 7pt; */
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #6c6c6c;
}

.input-icon-eye {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.checkbox {
  height: 30px;
  width: 30px;
  background-color: #6c6c6c;
  margin-right: 8px;
}
